.wrapper{
    width: 100%;
}

.small {
    display: block; 
    font-family: 'Arial Narrow', 'Arial', sans-serif;
 } 

 .title{
    font-family: 'Arial Narrow', 'Arial', sans-serif;
    padding: 1vh 1vw 1vh 1vw;
    font-size: 40px;
    }

 .innerBox{
    padding: 1vh 3vw 3vh 3vw;
 }

 .sendBack{
   text-decoration: none;
   color: black;
 }
.sendBack:hover{
   cursor: pointer;
}

