.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 92vh;
    width: 100%;
    background-color: #FFFDE8;
    border: black 2px solid;
  }

.textBox{
  width: 30vw;
  height: 6vh;
  font-size: 3vh;
  font-family: 'Arial Narrow', sans-serif;
  border: #FFB217 2px solid;
}

.subtext{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}