.small {
    display: block; 
    font-family: 'Arial Narrow', 'Arial', sans-serif;

 } 


.sign_button {
    width: 8vw;
    height: 6vh;
    font-size: 3vh;
    font-family: 'Arial Narrow', sans-serif;
    border: #FFB217 2px solid;
    background-color: white;
    display: block;
    float: right;

}
