.bubbles{
    /* display:flex; */
    justify-content: center;
    align-items: center;
    /* font-family: "Arial Narrow", sans-serif; */
    font-family: "Chalkduster", sans-serif;
    font-size: 3vh;
}

.bubbles:hover{
    cursor: pointer;
}
