.Input-page{
    padding-left: 25%;
    padding-right: 10%;
    padding-top: 5%;
    width: 100%;
}
.Input-container{
    border: none;
    height: 4vw;
    width: 80%;
    border-radius: 15px;
    box-shadow: 3px 2px grey;
    padding: 1%;
    flex-direction: row;
    align-items: center;
    background-color: white;
}


.Input-field{
    border: none;
    border-radius: 15px;
    width: 90%;
    height: 4vw;
    padding-left: 10px;

}


.Input-submit{
    border: none;
    border-radius: 15px;
    width: 10%;
    height: 4vw;
    background-color: #4CAF50;
    color: white;
    font-size: 1.5vw;
    font-weight: bold;
    cursor: pointer;
}


.Input-listContainer{
    align-items: center;
    flex-direction: column;
    height: 14vw;
    width: 50%;
    overflow-y: auto;


}