.navbar{
    display: flex;
    width: 100%;
}

.pageTitle{
    padding: 1vh 0 1vh 7vw;
    font-family: 'Chalkduster', sans-serif;
    color: #FFB217;
    font-size: 50px;
}

.buttons{
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: 'Chalkduster', sans-serif;
    margin-left: auto;
    padding-right: 7vw;
}

.loginButton{
    font-size: 20px;
    font-family: 'Chalkduster', sans-serif;
    background-color: white;
    border: #FFB217 2px solid;
}

.signUpButton{
    background-color: #FFB217;
    color: white;
    font-size: 20px;
    font-family: 'Chalkduster', sans-serif;
}