.Subject-header {
    padding: 2vh 0;
    text-align: center;
    background: antiquewhite;
    font-family: 'Arial Narrow', sans-serif;
  }

  .Subject-text{
    color: black;
    text-decoration: none;
}